.mainContainer {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #03a9f4;
  width: 100%;
  position: relative;
}

.menuContainer {
  padding-bottom: 15px;
  width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.subContainer {
  width: 100%;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  margin-top: 10px;
  align-items: center;
}